


<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title> Github Search</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<!-- show any messages that come back with authentication -->
	{{!-- <% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %> --}}

	<!-- LOGIN FORM -->
	<form id="signin" name="signin" method="post" action="signin">
		<label for="email">Email Address</label>
		<input class="text form-control" name="email" type="text" />
		<label for="password">Password</label>
  		<input name="password" class="text form-control" type="password" />
  		<input class="btn btn-warning btn-lg" type="submit" value="Sign In" />

	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>